<header>
    <h1>
        <a href='/'><img src='/assets/logo.png' />My Cookbook</a>
    </h1>
    <nav>
        <a id='catalogLink' href='/catalog'>Catalog</a>
        <div>
            {{#if hasUser}}
                <a id='createLink' href='/create'>Create Recipe</a>
                <a id='logoutBtn' href='/users/logout'>Logout</a>
            {{else}}
                <a id='loginLink' href='/users/login'>Login</a>
                <a id='registerLink' href='/users/register'>Register</a>
            {{/if}}
        </div>
    </nav>
</header>