<header>
    <h1>
        <a href='/'><img src='/assets/logo.png' />My Cookbook</a>
    </h1>
    <nav>
        <a id='catalogLink' href='/catalog'>Catalog</a>
        <div>
            <a id='createLink' href='/create'>Create Recipe</a>
            <a id='logoutBtn' href='javascript:void(0)'>Logout</a>

            <a id='loginLink' href='/login'>Login</a>
            <a id='registerLink' href='/register'>Register</a>
        </div>
    </nav>
</header>