<a class='card' href='/recipes/details/{{this._id}}'>
    <article class='preview'>
        <div class='title'>
            <h2>{{this.name}}</h2>
        </div>
        <div class='small'><img src='{{this.imageUrl}}' alt='recipe' /></div>
    </article>
</a>