<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <title>My Cookbook</title>
        <link rel='stylesheet' href='/css/site.css' />
        <link rel='stylesheet' href='/css/recipe.css' />
        <link rel='stylesheet' href='/css/form.css' />
        <link rel='stylesheet' href='/css/comments.css' />
    </head>

    <body>
        {{> header}}
        <main>
            {{{body}}}
        </main>
    </body>
</html>