<section id='catalog'>
    <div class='section-title'>
        <form id='searchForm'>
            <input type='text' name='search' value='' />
            <input type='submit' value='Search' />
        </form>
    </div>
    <header class='section-title'>
        Page 1 of 1
    </header>

    <a class='card' href=''>
        <article class='preview'>
            <div class='title'>
                <h2>recipe name</h2>
            </div>
            <div class='small'><img src='' alt='recipe' /></div>
        </article>
    </a>

    <footer class='section-title'>
        Page 1 of 1
    </footer>
</section>