<section id='catalog'>
    <div class='section-title'>
        <form id='searchForm'>
            <input type='text' name='search' value='' />
            <input type='submit' value='Search' />
        </form>
    </div>
    <header class='section-title'>
        Page 1 of 1
    </header>

    {{#each recipes}}
        {{> recipeCard}}
    {{else}}
        <p style="text-align: center;">No recipes added yet. Be first and <a href="/create">create one!</a></p>
    {{/each}}

    <footer class='section-title'>
        Page 1 of 1
    </footer>
</section>