<section id='home'>
    <div class='hero'>
        <h2>Welcome to My Cookbook</h2>
    </div>
    <header class='section-title'>Recently added recipes</header>
    <div class='recent-recipes'>
        {{#each latestRecipes}}
            {{> recentRecipeCard}}
            <div class='recent-space'></div>
        {{/each}}
    </div>
    <footer class='section-title'>
        <p>Browse all recipes in the <a href='/catalog'>Catalog</a></p>
    </footer>
</section>